p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana,
    sans-serif;
  text-align: center;
}

.vg-imgs {
  height: 50px;
  border-radius: 20px;
  /* padding: 5px; */
  border: none;
}

.vgeraph-div {
  margin: auto;
  padding: 5px;
  background-color: #191919;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  box-shadow: -1px 0px 15px -5px;
  width: 100%;
}

#div-main-text {
  text-align: justify;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  background-color: #191919;
  border-radius: 30px;
}

.p-label {
  margin: auto;
  font-weight: 550;
}

.vgeraph-div:hover {
  animation: div-effect 0.5s alternate forwards;
}
.vgeraph-div:active {
  animation: div-active 0.3s alternate forwards;
}

.social-imgs {
  height: 30px;
  padding: 5px;
}

@keyframes div-effect {
  0% {
  }
  100% {
    box-shadow: 0px 0px 30px blue;
    scale: 1.2;
  }
}
@keyframes div-active {
  0% {
  }
  100% {
    background-color: blue;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #9a9a9a;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(104, 104, 255);
}
